.board-add-form .help-block{
  color:red;
}


.popover{
  max-width: 50vw;
}



















#modal__select_id_board_category #accordion .card-header{
  padding: 0;
  background-color: #016d6f;
  color: #fff;
}

#modal__select_id_board_category #accordion .card-header *{
  color: #fff;
}

#modal__select_id_board_category #accordion .card{
  margin: 0;
}


#modal__select_id_board_category .modal-body{
  padding: 1px;
}



#modal__select_id_board_category .modal-body .card_level_1{
  display:none;
}
#modal__select_id_board_category .modal-body .card_level_2{
  display:none;
}

#modal__select_id_board_category .modal-body .card .card-body{
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 2px;
  padding-left: 10px;
}

#modal__select_id_board_category .modal-body .card .card-body > div{
  cursor:pointer;
}



#modal__select_id_board_category .modal-body .card .card-body > div:hover{
  background-color: #d7d7d7;
}


#modal__select_id_board_category #accordion .card-header button {
  width: 100%;
}










#modal__select_id_city #accordion_region .card-header{
  padding: 0;
  background-color: #016d6f;
  color: #fff;
}

#modal__select_id_city #accordion_region .card-header *{
  color: #fff;
}

#modal__select_id_city #accordion_region .card{
  margin: 0;
}


#modal__select_id_city .modal-body{
  padding: 1px;
}



#modal__select_id_city .modal-body .card.card_city{
  display:none;
}

#modal__select_id_city .modal-body .card .card-body{
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 2px;
  padding-left: 10px;
}

#modal__select_id_city .modal-body .card .card-body > div{
  cursor:pointer;
}



#modal__select_id_city .modal-body .card .card-body > div:hover{
  background-color: #d7d7d7;
}


#modal__select_id_city #accordion_region .card-header button {
  width: 100%;
}


#id_district_container > div.noid{
  display:none;
}

.navbar-logo{
  height: 62px !important;
}