.control-sidebar   .tab-content {
            height: calc(100vh - 135px);
            overflow-y: scroll;
            overflow-x: hidden;
}

@media (min-width: 768px) {
     .control-sidebar   .tab-content {
                    height: calc(100vh - 85px);
     }
}